# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

##### Using 'and' in if statements

##### Using both 'or' and 'and' in if statements

### String Manipulation

##### .lstrip()

In [10]:
# str.lstrip()

name = "   Austin"
name.lstrip()

name = "   Austin"
name.lstrip(" A")

'ustin'

##### .rstrip()

In [11]:
# str.rstrip()

name = "   Pari   "

In [12]:
name.rstrip("r i")

'   Pa'

##### .strip()

In [13]:
# strips from both sides

name = "   Jesus   "

In [14]:
name.strip()

'Jesus'

In [15]:
word = "racecar"
word.strip("r at")

'cec'

##### .title()

In [17]:
my_string = "i p freely"

In [21]:
my_string = my_string.title()
print(my_string)

I P Freely

In [20]:
my_string.upper()

'I P FREELY'

In [19]:
my_string.lower()

'i p freely'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [28]:
names = ['    coNNor', 'max', 'EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [36]:
my_list = [88,56,234,4,654,2,44,6]
min(my_list)

2

##### max()

In [30]:
max(my_list)

654

##### sum()

In [33]:
sum(my_list)

1088

##### sorted()

In [42]:
# built in Function in python works on any iterable
# return a copy of the array in sorted order ---- Out of Place

print(sorted(my_list))
print(my_list)
my_list = sorted(my_list)
print(my_list)

print(sorted("zdatr", reverse = True))
print(sorted("zdatr", reverse = False))

# help(sorted)

[2, 4, 6, 44, 56, 88, 234, 654]
[2, 4, 6, 44, 56, 88, 234, 654]
[2, 4, 6, 44, 56, 88, 234, 654]
['z', 't', 'r', 'd', 'a']
['a', 'd', 'r', 't', 'z']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [46]:
# Sort is a method of the list
# help(list.sort)

my_list = [88,56,234,4,654,2,44,6]
print(my_list.sort())
print(my_list)

None
[2, 4, 6, 44, 56, 88, 234, 654]

##### Copying a List

In [47]:
# probably a bad idea

my_list1 = [1,2,3,4,5]

my_list2 = my_list1

my_list2.append(6)

print(my_list1)
print(my_list2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [50]:
my_list1 = [1,2,3,4,5]
my_list2 = my_list1[1:]

In [52]:
# How to copy a list correctly

my_list1 = [1,2,3,4,5]
my_list2 = my_list1[:]
my_list2.append(6)
print(my_list1)
print(my_list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

##### 'in' keyword

In [53]:
5 in [2,3,7,] # Note with a list this is basically a for loop
5 in {2,3,5,7,} # this is constant time operation

True

##### 'not in' keyword

In [54]:
5 not in [2,3,7,]

True

##### Checking an Empty List

In [56]:
bool(1)

True

In [59]:
my_list = []
if my_list == []:
    print("It's empty")
    
if len(my_list) == 0:
    print("It's empty")
    
if not my_list:  
    print("It's empty")
    
if my_list: # most common
    print("List is full")

It's empty
It's empty
It's empty

##### Removing Instances with a Loop

In [92]:
names = ["Toan","Tim","Steve","McCall","Anu","Steve"]

while "Steve" in names:
    names.remove("Steve")
    print(names)
print(f"list at the end of the loop: {names}")

['Toan', 'Tim', 'McCall', 'Anu', 'Steve']
['Toan', 'Tim', 'McCall', 'Anu']
list at the end of the loop: ['Toan', 'Tim', 'McCall', 'Anu']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [74]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# i need to create a new list to add items too

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
        
print(new_names)

# another way to do it
list(set(names))

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

[2, 3, 4, 'kevin', 'max', 'bob', 'connor', 'evan']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [76]:
nums = []
for i in range(100):
    nums.append(i)
print(nums)

nums_comp = [i for i in range(100)]
print(f"nums_comp \n {nums_comp}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
nums_comp
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [77]:
nums = []
for i in range(100):
    nums.append(i**2)
print(nums)

nums_comp = [i**2 for i in range(100)]
print(f"nums_comp \n {nums_comp}")

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]
nums_comp
 [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [82]:
names = ["Mark", "Eduardo", "C-tina", "Tate", "Pari"]
first_char_comp = [name[0] for name in names]
print(first_char_comp)

['M', 'E', 'C', 'T', 'P']

In [84]:
# What is we need if statements?
four_l = []
for name in names:
    if len(name)==4:
        four_l.append(name)
    else:
        four_l.append("Not 4")
print(four_l)




# I'll add people whose lenght is not 5 into the last as "Not 5"
for_letter_names = [name if len(name) == 4 else "Not 4" for name in names]
print(for_letter_names)

['Mark', 'Not 4', 'Not 4', 'Tate', 'Pari']
['Mark', 'Not 4', 'Not 4', 'Tate', 'Pari']

In [85]:
la = [1,2,3,4,5]
lb = ["A", "B", "C", "D"]

let_num = []
for number in la:
    for letter in lb:
        let_num.append(f'{number}{letter}')
print(let_num)

['1A', '1B', '1C', '1D', '2A', '2B', '2C', '2D', '3A', '3B', '3C', '3D', '4A', '4B', '4C', '4D', '5A', '5B', '5C', '5D']

In [88]:
let_num_comp = [f'{number}{letter}' for number in la for letter in lb]
let_num_comp

['1A',
 '1B',
 '1C',
 '1D',
 '2A',
 '2B',
 '2C',
 '2D',
 '3A',
 '3B',
 '3C',
 '3D',
 '4A',
 '4B',
 '4C',
 '4D',
 '5A',
 '5B',
 '5C',
 '5D']

In [ ]:
sentence = []

letters = []
for word in sentence:
    for letter in word:
        letters.append(letter)
        
print(letters)

In [ ]:
letters_comp = [letter for word in sentence for letter in word]

In [100]:
# Ex.............

# given a list use a list comprehension to give me the 
# last letter of each word capitalized
my_list=["steve","susan","jake","troy"]
#output 
#["E", "N", "E", "Y"]

[name[-1].upper() for name in my_list]

['E', 'N', 'E', 'Y']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [102]:
t = 1,2,3
print(t,type(t))
t_1 = (1,2,3)
print(t_1,type(t_1))

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>

In [103]:
#empty tuple... basicaly useful

t_2 = tuple()
t_3 = ()

In [105]:
my_tup = ("Tim", "David", "Mike")
my_tup[1]

'David'

In [106]:
my_tup.index("Mike")

2

In [107]:
my_tup[1]="Jones" ## NOOOOO Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [108]:
my_tup.append("Steve") #NOOOOO

AttributeError: 'tuple' object has no attribute 'append'

In [109]:
new_tuple = my_tup + (5,6)
new_tuple

('Tim', 'David', 'Mike', 5, 6)

In [111]:
list(enumerate(my_list))

[(0, 'steve'), (1, 'susan'), (2, 'jake'), (3, 'troy')]

##### sorted()

In [114]:
sorted_tup = sorted(my_tup)
sorted_tup
# Get a list
# convert it back to tuple
sorted_tup = tuple(sorted_tup)
sorted_tup

('David', 'Mike', 'Tim')

##### Adding values to a Tuple

In [ ]:
#Reconstruct the tuple and add values
# Did this above

In [115]:
new_tup = (1,2,3,["A", "B", "C"])
new_tup[3][1] = "D"
new_tup

(1, 2, 3, ['A', 'D', 'C'])

## Functions

##### User-Defined vs. Built-In Functions

In [119]:
# Built-in
# int(), min, max, type, print, help, dir, abs, sorted

#User defined Function

def say_hello():
    print("Hello World!")
    return None

print(say_hello())

Hello World!
None

##### Accepting Parameters

In [121]:
# Order matters
# A variable can be any type of object

def print_full_name(first_name, last_name):
    print(f"{first_name} {last_name}")
    
print_full_name("David", "Sandoval")

David Sandoval

##### Default Parameters

In [126]:
def print_agent_name(first, last="Bond"):
    print(f"Your agent name is {last}, {first} {last}")

print_agent_name("David")
print_agent_name("David", "Sandoval")

Your agent name is Bond, David Bond
Your agent name is Sandoval, David Sandoval

In [127]:
print_agent_name(last="Sandoval", first="David")

Your agent name is Sandoval, David Sandoval

##### Making an Argument Optional

In [132]:
def make_name(first, middle = "", last = "Ed"): # default args come last
    print(f"Hello {first} {middle} {last}")

make_name("David")
make_name("David", "antonio")
make_name("David", "antonio", "Sandoval")
make_name("David", last="Sandoval")

# make_name(last="Sandoval", "David") # keyword args need to be last

Hello David  Ed
Hello David antonio Ed
Hello David antonio Sandoval
Hello David  Sandoval

In [138]:
def what_datatype():
    return "jersey mikes"

print(
    what_datatype().title+" is overpriced"
)
print("Thanks")

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'str'

In [139]:
# Return Exits the function 
def return_stops():
    for i in range(10):
        print(i)
        if i == 3:
            return 4
return_stops()

0
1
2
3

4

In [141]:
def dead_code(): # Unreachable code
    print("Hello")
    return
    print("Goodbye") # <--- Unreachable

dead_code()

Hello

##### Keyword Arguments

In [ ]:
# See above

In [144]:
# *args and **kwargs
def my_func (name, *args):
    print(name)
    for arg in args:
        print(arg)
        
my_func("David",2,4,5,6,7,8)

David
2
4
5
6
7
8

In [145]:
def my_func(name,**kwargs):
    for key in kwargs:
        print(key, kwargs[key])
my_func("David", height = 67, weight = 145, foods = ["pizza", "tacos", "ramen"])

height 67
weight 145
foods ['pizza', 'tacos', 'ramen']

In [146]:
my_dict = {"key":"value", "name":"David"}

def my_fun(key,name):
    print(key,name)
    
my_fun(**my_dict) # key+"value", name="David"

value David

In [150]:
#Function should return the sum of all the numbers given to it.. 
#do not use a list 

def my_sum(*args):
    return sum(args)
my_sum(1,2,3)
    

def my_sum(*args):
    total = 0
    for number in args:
        total += number
    return total

print(my_sum(1,2,3))

6

# Creating a start, stop, step function

In [151]:
def my_range(stop, start = 0, step = 1):
    for i in range(start, stop, step):
        print(i)
# my_range(10)
# my_range(10,5)
my_range(10, 4, 2)

4
6
8

##### Returning Values

In [152]:
def add_nums(num1, num2):
    return num1 + num2

print(add_nums(1,2))

3

##### *args

In [ ]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

# See above

##### Docstring

##### Using a User Function in a Loop

In [153]:
def add_two(n):
    print(n+2)

while True:
    ask = int(input("What is your number? "))
    response = input("Ready to quit? ")
    if response.lower() == "Quit":
        break

What is your number? 2
Ready to quit? no
What is your number? 8
Ready to quit? Quit

KeyboardInterrupt: Interrupted by user

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [157]:
first = ['John', 'Evan', 'Jordan', 'Max']
last = ['Smith', 'Smith', 'Williams', 'Bell']
# Assume the list are the same length
def add_names(first_names, last_names):
    full_names
    for i in range(len(first_names)):
        full_names.append(first_names[i] + " " + last_names[i])
    return full_names

print(add_names(first,last))

#list comprehension
def add_names_comp(first_names,)


# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

NameError: name 'full_names' is not defined

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [155]:
#placement of variable declaration matters
var1 = "A" # Global Scope -- can use everywhere

def my_function():
    print(var1)
    var2 = "B" #Function scope aka a local scope
    print(var2)
        
my_function()
print(var2)

A
B

NameError: name 'var2' is not defined

In [156]:
for i in range(3): # i here has Global Scope
    print(i)
    x = "Steve" #Global Scope
    
i

0
1
2

2

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [69]:
# Use the following list - [1,11,14,5,8,9]

list1 = [1,11,14,5,8,9]

def less_than_10():
    for num in list1:
        if num < 10:
            print(num)
    
less_than_10()

1
5
8
9

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [64]:
list1 = [8,19,28,15,2]
list2 = [18,7,96,98,100]  

def merged(list1, list2):
    merged_list = list1 + list2
    merged_list.sort()
    return merged_list

print(merged(list1, list2))

[2, 7, 8, 15, 18, 19, 28, 96, 98, 100]